# Build
dist

# Environment
.env
.env*.local

# dependencies
/node_modules

# All variants of build output directories
/spack
/spack_*

# IDEs and editors
.vscode/

# System Files
.DS_Store
Thumbs.db
